<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to the Main Index Page</h1>
    <div class="columns">
        <div class="column">
            <a href="{{ url_for('users') }}">Registered Users</a>
        </div>
        <div class="column">
            <a href="{{ url_for('sessions') }}">User Sessions</a>
        </div>
        <div class="column">
            <a href="{{ url_for('products') }}">Products</a>
        </div>
    </div>
</body>
</html>
