<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/fancy-index/style.css">
  <style>img[src$=".svg"] { width: 16px; }</style>
</head>
<body>
  <table id="indexlist">
   <tr class="indexhead"><th class="indexcolicon">&nbsp;</th><th class="indexcolname"><a href="?C=N;O=D">Name</a></th><th class="indexcollastmod"><a href="?C=M;O=A">Last modified</a></th><th class="indexcolsize"><a href="?C=S;O=A">Size</a></th><th class="indexcoldesc"><a href="?C=D;O=A">Description</a></th></tr>
   <tr class="indexbreakrow"><th colspan="5"><hr /></th></tr>
   <tr class="even"><td class="indexcolicon"><a href="/Material/material-dashboard-flask-master/material-dashboard-flask-master/apps/"><img src="/fancy-index/icons/back.svg" alt="[PARENTDIR]" width="16" height="16" /></a></td><td class="indexcolname"><a href="/Material/material-dashboard-flask-master/material-dashboard-flask-master/apps/">Parent Directory</a></td><td class="indexcollastmod">&nbsp;</td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="accounts/"><img src="/fancy-index/icons/file-directory.svg" alt="[DIR]" width="16" height="16" /></a></td><td class="indexcolname"><a href="accounts/">accounts/</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="home/"><img src="/fancy-index/icons/file-directory.svg" alt="[DIR]" width="16" height="16" /></a></td><td class="indexcolname"><a href="home/">home/</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="includes/"><img src="/fancy-index/icons/file-directory.svg" alt="[DIR]" width="16" height="16" /></a></td><td class="indexcolname"><a href="includes/">includes/</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="layouts/"><img src="/fancy-index/icons/file-directory.svg" alt="[DIR]" width="16" height="16" /></a></td><td class="indexcolname"><a href="layouts/">layouts/</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href=".gitkeep"><img src="/fancy-index/icons/file-text.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href=".gitkeep">.gitkeep</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">  0 </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="indexbreakrow"><th colspan="5"><hr /></th></tr>
</table>
  <script src="/fancy-index/script.js"></script>
</body>
</html>
