<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/fancy-index/style.css">
  <style>img[src$=".svg"] { width: 16px; }</style>
</head>
<body>
  <table id="indexlist">
   <tr class="indexhead"><th class="indexcolicon">&nbsp;</th><th class="indexcolname"><a href="?C=N;O=D">Name</a></th><th class="indexcollastmod"><a href="?C=M;O=A">Last modified</a></th><th class="indexcolsize"><a href="?C=S;O=A">Size</a></th><th class="indexcoldesc"><a href="?C=D;O=A">Description</a></th></tr>
   <tr class="indexbreakrow"><th colspan="5"><hr /></th></tr>
   <tr class="even"><td class="indexcolicon"><a href="/Material/material-dashboard-flask-master/material-dashboard-flask-master/apps/templates/"><img src="/fancy-index/icons/back.svg" alt="[PARENTDIR]" width="16" height="16" /></a></td><td class="indexcolname"><a href="/Material/material-dashboard-flask-master/material-dashboard-flask-master/apps/templates/">Parent Directory</a></td><td class="indexcollastmod">&nbsp;</td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="fixed-plugin.html"><img src="/fancy-index/icons/html.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href="fixed-plugin.html">fixed-plugin.html</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">3.3K</td><td class="indexcoldesc">Hypertext Markup Language</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="footer-fullscreen.html"><img src="/fancy-index/icons/html.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href="footer-fullscreen.html">footer-fullscreen.html</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">1.1K</td><td class="indexcoldesc">Hypertext Markup Language</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="footer.html"><img src="/fancy-index/icons/html.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href="footer.html">footer.html</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">1.0K</td><td class="indexcoldesc">Hypertext Markup Language</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="navigation-fullscreen.html"><img src="/fancy-index/icons/html.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href="navigation-fullscreen.html">navigation-fullscreen.html</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">1.8K</td><td class="indexcoldesc">Hypertext Markup Language</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="navigation.html"><img src="/fancy-index/icons/html.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href="navigation.html">navigation.html</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">6.5K</td><td class="indexcoldesc">Hypertext Markup Language</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="scripts.html"><img src="/fancy-index/icons/html.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href="scripts.html">scripts.html</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">284 </td><td class="indexcoldesc">Hypertext Markup Language</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="sidebar-rtl.html"><img src="/fancy-index/icons/html.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href="sidebar-rtl.html">sidebar-rtl.html</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">4.2K</td><td class="indexcoldesc">Hypertext Markup Language</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="sidebar.html"><img src="/fancy-index/icons/html.svg" alt="[   ]" width="16" height="16" /></a></td><td class="indexcolname"><a href="sidebar.html">sidebar.html</a></td><td class="indexcollastmod">2025-04-30 23:24  </td><td class="indexcolsize">4.7K</td><td class="indexcoldesc">Hypertext Markup Language</td></tr>
   <tr class="indexbreakrow"><th colspan="5"><hr /></th></tr>
</table>
  <script src="/fancy-index/script.js"></script>
</body>
</html>
